/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.bold{
  font-weight: bold;
}

.half_screen{
  width: 50%;
}

input.search-query {
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
#search-submit {
  position: absolute;
  top: 6px;
  right: 10px;
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  line-height: 14px;
  text-indent: -9999px;
  vertical-align: text-top;
  cursor: pointer;
  background-color: transparent;
  background-image: url("http://twitter.github.com/bootstrap/assets/css/../img/glyphicons-halflings.png");
  background-position: -48px 0;
  background-repeat: no-repeat;
  border: 0 none;
  opacity: 0.75;
}